*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    font-family: "Open Sans";
}
h1,h2,h3,h4,h5,h6{
    font-family:"Poppins";
}
.container{
    margin-left: auto;
    margin-right: auto;
    padding: 35px 110px 0px 110px;
}


/**** small screen ***/

@media(min-width:768px){
    .body{
        width: 750px;
    }
}


/*** medium screen  **/

@media(min-width:992px){
    .body{
        width: 990px;
    }
}

/** large screen **/

@media(min-width:1200px){
    .body{
        width: 1170px;
    }
}

header {
    display: flex;
    justify-content: space-between;
}

header button {
    background: #ffffff;
    border: 1px solid hsl(322, 100%, 66%);
    padding: 10px 30px;
    border-radius: 25px;
}

header img {
    width: 150px;
    height: auto;
    object-fit: contain;
}

main {
    margin-top: 140px;
}

.section-1 .hero-content h2,.section-5 h2 {
    font-size: 38px;
}

.section-1 .hero-content p {
    font-size: 16px;
    line-height: 32px;
    width: 450px;
    margin: 0px auto 25px auto;
}

.hero-content,.section-5 {
    text-align: center;
}

.hero-content button,.section-5 button {
    background: hsl(321, 100%, 78%);
    border: none;
    padding: 20px 40px;
    border-radius: 30px;
    color: #ffffff;
    font-size: 16px;
}

.hero-content h2,.section-5 h2 {
    margin-bottom: 25px;
}

.hero-img {
    text-align: center;
    margin-top: 50px;
}

.hero-img img {
    width: 80%;
    height: auto;
    object-fit: cover;
}

.facts {
    display: flex;
    justify-content: space-between;
    padding: 30px 135px;
}

.facts h2 {
    font-size: 62px;
}
.facts p {
    font-size: 15px;
    text-align: center;
}


.section-2 .container,.section-3 .container,.section-4 .container {
    display: flex;
    justify-content: space-between;
}

.section-2 img,.section-3 img,.section-4 img {
    width: 380px;
}

.content {
    margin: auto 0;
}

.content p {
    width: 70%;
}

.section-3 .content {padding-left: 120px;}




.section-2,.section-4{
    background: hsl(207, 100%, 98%);
}
.section-2.shape {
    /* padding-top: 230px; */
    margin-top: 140px;
    position: relative;
}
.section-2:before {
    background: url(images/bg-section-top-desktop-1.svg);
    position: absolute;
    content: '';
    background-repeat: no-repeat;
    /* background-size: cover; */
    width: 100%;
    height: 237px;
    top: -125px;
}
.section-2:after {
    background: url(images/bg-section-bottom-desktop-1.svg);
    position: absolute;
    content: '';
    background-repeat: no-repeat;
    /* background-size: cover; */
    width: 100%;
    height: 237px;
    /* top: -125px; */
}
.section-2 {
    padding: 20px 0px 20px 0px;
}
.section-2,.section-3,.section-4 {
    margin-top: 70px;
}
.section-3 {
   
    margin-top: 150px;
    margin-bottom: 150px;
}
.section-5{
    margin-top: 290px;
    margin-bottom: 130px;
}

.section-4.shape {
    /* padding-top: 230px; */
    margin-top: 140px;
    position: relative;
}
.section-4:before {
    background: url(images/bg-section-top-desktop-1.svg);
    position: absolute;
    content: '';
    background-repeat: no-repeat;
    /* background-size: cover; */
    width: 100%;
    height: 237px;
    top: -125px;
}
.section-4:after {
    background: url(images/bg-section-bottom-desktop-1.svg);
    position: absolute;
    content: '';
    background-repeat: no-repeat;
    /* background-size: cover; */
    width: 100%;
    height: 237px;
    /* top: -125px; */
}


footer .container {
    display: flex;
    justify-content: space-between;
    /* padding: 70px 110px 30px 110px; */
    background-color: hsl(192, 100%, 9%);
    color: #ffffff;
    margin-top: 70px;
}

.phone,.email {
    display: flex;
}

.phone p, .email p {
    padding-left: 20px;
}
footer *{
    padding-bottom: 10px;
}


footer p {
    width: 80%;
}

img.logo {
    filter: invert(100%) grayscale(1);
}

.form button {
    padding: 10px 50px 10px 50px;
    background: hsl(321, 100%, 78%);
    border: none;
    border-radius: 5px;
    color: #ffffff;
}

.form input[type="text"] {
    padding: 10px;
    margin-right: 15px;
    width: 290px;
    border-radius: 5px;
    border: none;
}
.form {
    margin-top: 20px;
}

.social-media svg{
    font-size: 36px;
    margin-right: 15px;
}


footer::before {
    content: '';
    background: url('images/bg-footer-top-desktop.svg');
    position: absolute;
    top: -155px;
    height: 177px;
    width: 100%;
    background-repeat: no-repeat;
    /* background-size: cover; */
}

footer {
    position: relative;
    margin-top: 230px;
}